<form id="create-todo">
      <p>Create a Todo</p>
      <input type="text" name="task" value="">
      <a href="/add-todo" data-nav="/add-todo" class="ajax-link disableDefault"  id="add-todo">Add Todo</a>
</form>

