<li>
    <div class="one columns">
        <input type="checkbox"
            {{#if checked}}
                checked
            {{/if}}>
    </div>
    <div class="fourteen columns">
        <p>{{ title  }}</p>
        <p class="actions">
            <a href="#" class="destroy">delete task</a>
        </p>
    </div>
</li>
