
<div class="container">
    <div class="sixteen columns">
        <h1> Todo App!!</h1>
        <p>
        how can I help you with your task keeping today?
        </p>
    </div>
     <div id="todos" class="sixteen columns">
            <h2>Todos</h2>
            <div class="create">error occurred...</div>
            <ul class="todoList">
            </ul>
    <div>


</div>
